<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">SosyalAg</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Kullanıcılar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Listeler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mesajlar</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Merhaba
        {{authService.decodedToken?.unique_name | titlecase}}</a>

      <div class="dropdown-menu mt-4" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profilini düzenle</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  (click)="logout()"><i class="fa fa-sign-out"></i> Çıkış yap</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Kullanıcı Adı" required
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Şifre" required
        [(ngModel)]="model.password">
      <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0" type="submit">Giriş Yap</button>
    </form>
  </div>

</nav>